<?xml version = "1.0"?>
<launch>

  <!--  Author: Chaitanya Pb

        This launch file sets up all the information ROS needs to simulate the snake robot in RViz. The robot is 
        described in snake_robot.xacro

        Uses these files to run: snake_robot.xacro

        Contains paths to external files.  -->

  <param name="robot_description" command="$(find xacro)/xacro.py $(find snake_robot)/urdf/snake_robot.xacro" />
  <param name="use_gui" value="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" required="true" />

</launch>