<?xml version = "1.0"?>
<launch>

  <!--  Author: Chaitanya Pb

        This launch file sets up all the information ROS needs to simulate the snake robot in an environment in Gazebo.
        The environment to be launched is described in vg_random_obstacle.world and the robot is described in 
        snake_robot.xacro

        Uses these files to run: vg_random_obstacle.world, empty_world.launch and snake_robot.xacro

        Contains paths to external files.  -->

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find snake_robot)/worlds/vg_random_obstacle.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="true" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find snake_robot)/urdf/snake_robot.xacro'" /> 


  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-urdf -model snake_robot -param robot_description"/> 

</launch>